<p id="notice"><%= notice %></p>

<p>
  <strong>Zillow url:</strong>
  <%= @agent.zillow_url %>
</p>

<p>
  <strong>First name:</strong>
  <%= @agent.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @agent.last_name %>
</p>

<p>
  <strong>Zillow rating:</strong>
  <%= @agent.zillow_rating %>
</p>

<p>
  <strong>Brokerage name:</strong>
  <%= @agent.brokerage_name %>
</p>

<p>
  <strong>Review:</strong>
  <%= @agent.review %>
</p>

<p>
  <strong>Title:</strong>
  <%= @agent.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @agent.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @agent.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @agent.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @agent.zip_code %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @agent.phone_no %>
</p>

<p>
  <strong>Website:</strong>
  <%= @agent.website %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @agent.facebook %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @agent.instagram %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @agent.linkedin %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @agent.twitter %>
</p>

<p>
  <strong>Snapchat:</strong>
  <%= @agent.snapchat %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @agent.youtube %>
</p>

<p>
  <strong>Hide:</strong>
  <%= @agent.hide %>
</p>

<p>
  <strong>Number of sales presented buyer:</strong>
  <%= @agent.number_of_sales_presented_buyer %>
</p>

<p>
  <strong>Seller to buyer ratio:</strong>
  <%= @agent.seller_to_buyer_ratio %>
</p>

<p>
  <strong>Date processed:</strong>
  <%= @agent.date_processed %>
</p>

<p>
  <strong>Request number:</strong>
  <%= @agent.request_number %>
</p>

<p>
  <strong>Number of views:</strong>
  <%= @agent.number_of_views %>
</p>

<p>
  <strong>Admin views:</strong>
  <%= @agent.admin_views %>
</p>

<p>
  <strong>Visitor views:</strong>
  <%= @agent.visitor_views %>
</p>

<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
